.blog-container {
  min-height: 100vh;
}
.blog-blog {
  width: 970px;
  height: 665px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.blog-text {
  left: 446px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.blog-text02 {
  top: 73px;
  left: 266px;
  color: var(--dl-color-default-paragraphfont);
  width: 438px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.blog-blogpost11 {
  top: 191px;
  left: 0px;
  width: 310px;
  height: 474px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.blog-image {
  top: 0px;
  left: 0px;
  width: 310px;
  height: 300px;
  position: absolute;
  border-color: transparent;
}
.blog-text04 {
  top: 325px;
  left: 25px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.blog-text06 {
  top: 355px;
  left: 25px;
  color: var(--dl-color-default-paragraphfont);
  width: 268px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.blog-learn-more {
  top: 434px;
  left: 25px;
  width: 119px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.blog-text08 {
  color: var(--dl-color-default-yellow);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.blog-frame {
  top: 4px;
  left: 99px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.blog-blogpost2 {
  top: 191px;
  left: 330px;
  width: 310px;
  height: 474px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.blog-iamge {
  top: 0px;
  left: 0px;
  width: 310px;
  height: 300px;
  position: absolute;
  border-color: transparent;
}
.blog-text10 {
  top: 325px;
  left: 25px;
  color: var(--dl-color-default-black);
  width: 232px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.blog-text12 {
  top: 355px;
  left: 25px;
  color: var(--dl-color-default-paragraphfont);
  width: 268px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.blog-learnmore1 {
  top: 434px;
  left: 25px;
  width: 119px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.blog-text14 {
  color: var(--dl-color-default-yellow);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.blog-frame1 {
  top: 4px;
  left: 99px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.blog-blogpost3 {
  top: 191px;
  left: 660px;
  width: 310px;
  height: 474px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.blog-image1 {
  top: 0px;
  left: 0px;
  width: 310px;
  height: 300px;
  position: absolute;
  border-color: transparent;
}
.blog-text16 {
  top: 325px;
  left: 25px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.blog-text18 {
  top: 355px;
  left: 25px;
  color: var(--dl-color-default-paragraphfont);
  width: 268px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.blog-learnmore2 {
  top: 434px;
  left: 25px;
  width: 119px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.blog-text20 {
  color: var(--dl-color-default-yellow);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.blog-frame2 {
  top: 4px;
  left: 99px;
  width: 20px;
  height: 20px;
  position: absolute;
}
